<!doctype html>
<html>
<head>
  <title>Weather Application</title>
  <script src="code.js"></script>
</head>
<body>
  <h1>Welcome</h1>
  <h2>Check the weather of a given city!</h2>
  <p>To search for a city: <a href="/weather">click here</a></p>
</body>
</html>