<!doctype html>
<html>
<head>
  <title>Past Queries</title>
  <script src="code.js"></script>
</head>
<body>
  <h1>Result</h1>
  <h2>Here are the past queries</h2>
  <p>Queries: <%- queries %></p>
  <p><a href="/">Home</a></p>
</body>
</html>