<!doctype html>
<html>
<head>
  <title>Past Queries</title>
  <script src="code.js"></script>
</head>
<body>
  <h1>Past Queries</h1>
  <h2>Here are the past queries</h2>
  <form action="http://localhost:5000/queries" method="post">
  <p>Click Here: <input type="submit" value="View"></p>
  </form>
  <p><a href="/">Home</a></p>
</body>
</html>