<!doctype html>
<html>
<head>
  <title>Past Searches</title>
  <script src="code.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Past Searches</h1>
  <table border="1">
    <thead>
      <tr>
        <th>City</th>
        <th>Temperature(°F)</th>
      </tr>
    </thead>
    <tbody>
      <%- queries %>
    </tbody>  
  </table>
  <p><a href="/">Home</a></p>
</body>
</html>