<!doctype html>
<html>
<head>
  <title>Weather Information</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Weather Information</h1>
  <strong> City: </strong><%- city %></li>
  <strong> Temperature: </strong><%- temp %></li>
  <p><a href="/">Home</a></p>
</body>
</html>
