<!doctype html>
<html>
<head>
  <title>Weather Information</title>
</head>
<body>
  <h1>Weather Information</h1>
    <strong> City:</strong><%- city %></li>
  <p><a href="/">Home</a></p>
</body>
</html>
