<!doctype html>
<html>
<head>
  <title>Find Weather Data for a City</title>
  <script src="code.js"></script>
</head>
<body>
  <h1>Search Here</h1>
  <p>Type in the name of the city you would like the weather data for below:</p>
  <form action="http://localhost:5000/weather" method="post">
    <label>City Name:</label><br>
    <input type="text" id="city" name="city"><br>
    <input type="submit" value="Submit Application">
  </form>
  <p><a href="/">Home</a></p>
</body>
</html>